* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #2c5364, #0f2027);
  height: 100vh;
 
}
.slider-container {
	
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: rotate 20s linear infinite;
}

@keyframes rotate {
  0% {
    transform: perspective(800px) rotateY(0deg);
  }
  100% {
    transform: perspective(800px) rotateY(360deg);
  }
}

.slider span {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 24deg)) translateZ(500px);
}

.slider span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  object-fit: cover;
  transition: 0.5s;
}

.slider span:hover img {
  transform: translateY(-50px) scale(1.2);
}

.slider {
      margin-bottom: auto; 
    }
	.conta{
		text-align: right;
		padding: 20px;
	}
.caption {
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  bottom: -30px; 
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  pointer-events: none;
}
span:hover .caption {
  opacity: 1;
}

 
